body {
  font-family: "Nunito", sans-serif;
}
/* ************************Navbar*************************** */

nav a.nav-link {
  cursor: pointer;
}

.nav-item :hover {
  background-image: url("sound.png");
  background-repeat: no-repeat;
  background-size: 30px 30px;
  transition: all 0.5s;
}
/*******************Header********************/
.hello {
  font-size: 80px;
  font-family: Bradley Hand, cursive;
}
/*************************Cards**************************/
.card-style {
  background-color: rgb(17, 17, 17);
}
 
/* **************************************************** */
.service-icon {
  font-size: 70px;
}
.social-icon {
  list-style: none;
  display: flex;
}

/* ----------------scroll-button------------------ */

/* ------------------Contact---------------------------- */
.contact-box {
  background-color: rgb(17, 17, 17);
  color:#6c757d;
}
.contact-box :hover {
  /* box-shadow: 0px 0px 8px 0px wheat;  */
  transition: all 0.3s;
  color: whitesmoke;
}
/* ====================Form========================= */
/* .form {
  background-color: rgb(17, 17, 17);
}
form:hover {
  transition: all 0.3s;
  box-shadow: 0px 0px 8px 0px wheat;
} */
/* ===================project==================== */
.project-card {
  background-color: rgb(17, 17, 17);
}
.project-card:hover {
  transition: all 0.3s;
  opacity: 50%;
}

/* ==========Counter=========== */
.counter{
  background-color: rgb(17, 17, 17);
}
.counter .p-5.text-center i{
  font-size: 60px;
}

/* =============Testimonial user logo============ */
/* .testimonianl-user{
 height: 20%;
 width:20%;
 position: relative;
 top: 6%;
left: 40%;
font-size: 60px;
} */